# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
VENV/
env/

# Pytest cache
.pytest_cache/

# Allure reports
allure-results/
allure-report/

# Test reports and screenshots
reports/
reports/screenshots/

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db