# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
VENV/
env/

# Pytest cache
.pytest_cache/

# Test reports and screenshots
reports/
reports/screenshots/



# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Allure reports
allure-results/
allure-report/
